.App {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.content {
	width: 500px;
	height: 300px;
}

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: gray;
  background-color: transparent;
}
